@use './mixins' as mxn;

.creation-controls {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
}

.category-input {
  border-radius: var(--border-radius);
  margin: 5px 5px;
  font-size: 1rem;
  
  &.invalid {
    outline: 2px solid red;
    background-color: #f3d1d1;
    border: none;

    &:active, &:focus {
      outline: 3px solid red;
    }
  }
}

.creation-group {
  display: flex;
  padding: .8rem 5px 5px;
  width: fit-content;

  margin: 1rem 0 0 0;

  @include mxn.styled-border;

  .label {
    @include mxn.border-label($margin: -1.7rem .5rem, $font-size: 1.2rem);
  }
}