@use './mixins' as mxn;

.income-grid {
  top: calc(var(--nav-height) + 1rem);

  padding: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr) 40px;

  @include mxn.styled-border;

  *:not(.label) {
    align-self: center;
    justify-self: center;

    text-overflow: ellipsis;
    max-width: 100%;
  }

  .label {
    @include mxn.border-label($margin: -2.2rem 0);
  }

  .income-header {
    @include mxn.styled-grid-header;
  }

  .income-total {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    background-color: var(--secondary-light);

    height: 3rem;
    border-radius: var(--border-radius);
  }

  .category-name {
    text-align: center;
  }
}