@use './variables' as vars;

.income-grid {
  position: sticky;
  align-self: flex-start;
  top: calc(vars.$nav-height + 1rem);

  padding: 20px;

  display: grid;
  grid-template-columns: repeat(1fr, 4);

  @include vars.styled-border;

  .label {
    @include vars.border-label;
  }
}