@use './variables' as vars;

.income-grid {
  top: calc(vars.$nav-height + 1rem);

  padding: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr) 40px;

  @include vars.styled-border;

  *:not(.label) {
    align-self: center;
    justify-self: center;

    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .label {
    @include vars.border-label($margin: -2.2rem 0);
  }

  .income-header {
    display: contents
  }

  .income-total {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    background-color: vars.$secondary-light;

    height: 3rem;
    border-radius: vars.$border-radius;
  }
}