@use './variables' as vars;

.grouped-categories-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr) vars.$category-context-width;

  flex: 3 1;

  .header-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    background-color: vars.$background-light;
    position: sticky;
    top: vars.$nav-height;

    transition: opacity .5s, visibility .5s;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .header {
    text-align: center;
    background-color: vars.$background-light;

    &.group-header {
      grid-column: 1 / 3;
      visibility: none;
    }

    &.category {
      grid-column: 3 / 5;
    }
  }

  * {
    align-self: center;
  }

  .group {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 14;

    @include vars.styled-border(2px);
    
    margin: 1rem 0;
    min-height: 2rem;

    .name {
      grid-column: 1/3;
      align-self: start;
      justify-self: center;

      top: vars.$nav-height;

      max-width: 90%;
      
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      
      @include vars.border-label($margin: -1rem, $font-size: 1.2rem, $padding: 0 8px, $position: sticky);
    }

    .group-categories {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 3 / -1;
      align-self: start;
      gap: 1px;
      // The gap-plus-background-color combo creates the illusion of borders in the grid
      background-color: vars.$outline;
      border-left: 2px solid vars.$outline;

      .group-category {
        // TODO: If there is only one child, this fix (for ensuring borders aren't snipped off
        // at the corners) only works for the bottom corner. Need to come up with a better strategy.
        &:first-child {
          border-radius: 0 vars.$border-radius 0 0;
        }
        
        &:last-child {
          border-radius: 0 0 vars.$border-radius 0;
        }

        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        background-color: vars.$background-light;

        & > *:not(.delete-cat-button) {
          padding-left: 8px;
        }

        &.highlight {
          background-color: vars.$primary-light;
          color: white;
        }

        .category-name {
          grid-column: 1 / 3;
        }

        .category-edit-button {
          grid-column: -1;
        }
      }
    }
  }
}