@use './mixins' as mxn;
@use 'sass:string';

$grid-areas: 
  "income-v-spend eom-adjust"
  "net-spend surplus-income";

.summary-grid {
  display: grid;
  grid-template-areas: $grid-areas;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  row-gap: 10px;

  // Assigns each grid area id to its grid area
  @each $grid-row in $grid-areas {
    @each $area in string.split($grid-row, " ") {
      ##{$area} {
        grid-area: string.unquote($area);
      }
    }
  }
  
  @include mxn.styled-border;
  
  margin-top: 1rem;
  padding: 20px 10px;
  text-align: center;

  .header {
    @include mxn.styled-grid-header($display: inherit);
  }

  .label {
    @include mxn.border-label($margin: -2.2rem 10px);
  }
}