@use './variables' as vars;

$nav-highlight: vars.$primary;

.budgetNav {
  width: vars.$nav-width;
  position: fixed;
  height: 100%;
  background-color: vars.$secondary-light;
  font-size: 1rem;
  padding-top: vars.$nav-height;

  .link {
    padding: 18px 8px 8px 18px;
    color: vars.$primary-dark;
    text-decoration: none;
    transition: .3s;
    display: block;

    &::after {
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: $nav-highlight;
      transition: .3s;
    }

    &:hover {
      color: $nav-highlight;
      
      &::after {
        width: 100%;
      }
    }
  }
}