.tech-cards {
  width: 100%;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;

  gap: 4px;

  justify-content: space-evenly;
  align-content: space-evenly;

  transition: 1s;

  --content-fr: 3fr;
}

.tech-cards:has(.card:nth-child(1).show-content) {
  grid-template: var(--content-fr) 1fr / var(--content-fr) 1fr 1fr 1fr;
}

.tech-cards:has(.card:nth-child(2).show-content) {
  grid-template: var(--content-fr) 1fr / 1fr var(--content-fr) 1fr 1fr;
}

.tech-cards:has(.card:nth-child(3).show-content) {
  grid-template: var(--content-fr) 1fr / 1fr 1fr var(--content-fr) 1fr;
}

.tech-cards:has(.card:nth-child(4).show-content) {
  grid-template: var(--content-fr) 1fr / 1fr 1fr 1fr var(--content-fr);
}

.tech-cards:has(.card:nth-child(5).show-content) {
  grid-template: 1fr var(--content-fr) / var(--content-fr) 1fr 1fr 1fr;
}

.tech-cards:has(.card:nth-child(6).show-content) {
  grid-template: 1fr var(--content-fr) / 1fr var(--content-fr) 1fr 1fr;
}

.tech-cards:has(.card:nth-child(7).show-content) {
  grid-template: 1fr var(--content-fr) / 1fr 1fr var(--content-fr) 1fr;
}

.tech-cards:has(.card:nth-child(8).show-content) {
  grid-template: 1fr var(--content-fr) / 1fr 1fr 1fr var(--content-fr);
}

#icon-1 {
  position: absolute;
  top: 0;
  left: 0;

  justify-content: center;

  animation: 8s infinite linear spinning-card-1;
}

#icon-2 {
  justify-content: center;
  top: 0;
  left: 0;

  animation: 8s infinite linear spinning-card-2;

  transform: scaleX(0);
}

@keyframes spinning-card-1 {
  from {
    transform: scaleX(1);
  }

  25% {
    transform: scaleX(0);
  }

  75% {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes spinning-card-2 {
  from {
    transform: scaleX(0);
  }

  25% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(1);
  }

  75% {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(0);
  }
}

.card {
  display: flex;

  --icon-size: 80px;
  outline: 1px dashed var(--grey);
  border-radius: var(--icon-size);

  height: var(--icon-size);
  width: var(--icon-size);

  padding: 8px;

  align-self: center;
  justify-self: center;
  
  cursor: pointer;
  overflow: hidden;

  .icon-wrapper {
    position: absolute;
    left: 0;
    top: 0;

    align-self: center;
    display: grid;
    width: var(--icon-size);
    height: var(--icon-size);
  
    padding: 8px;
    transition: 1s;
  }

  .title {
    margin-bottom: var(--icon-size);
    align-self: center;
    justify-self: center;
    overflow: hidden;
    transition: 1s;
  }

  &.in-view {
    transform: translateY(0%);
  }
  
  &:not(.in-view) {
    transform: translateY(25%);
  }

  &.show-content {
    width: 100%;
    height: 250px;
  }

  transition: 1s;
}

.card:not(.show-content):hover {
  .title {
    margin-bottom: 0;
  }

  .icon-wrapper {
    top: var(--icon-size);
  }
}

.card:nth-child(n + 1) {
  transition-delay: calc(var(--card-float-in-increment) * 1);
}

.tech-icon {
  width: 48px;
  height: 48px;

  justify-self: center;
  align-self: center;
}