.budget {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: 
    'date-selector persister'
    'categories transactions';
  gap: 2em;

  .date-selector {
    grid-area: date-selector
  }

  .categories {
    grid-area: categories
  }

  .transactions {
    grid-area: transactions
  }
}