@use './variables' as vars;

.all-categories {
  display: flex;
  gap: .5rem;
  padding: 1rem .8rem 5rem;

  .summary {
    position: sticky;
    align-self: flex-start;
    top: calc(vars.$nav-height + 1rem);
  
    flex: 1.2;
  }
}