@use './mixins' as mxn;

.modal {
  margin: auto;
  padding: 1.5rem 1.5rem 1rem;
  background-color: var(--background-light);
  min-width: 500px;

  @include mxn.styled-border;

  .close-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;

    height: fit-content;

    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
  }

  .title {
    @include mxn.with-color;
    font-size: 1.3rem;
    margin: -1rem -.5rem;
    padding-bottom: 1.5rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}