@use './reset';
@use './variables' as vars;

body {
  background-color: var(--background-light);
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;

  background-color: var(--primary);
  color: white;

  border: none;
  border-radius: var(--border-radius);
  
  padding: .375rem .5rem;
  margin: 5px;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;

  transition: background-color .3s;

  &:hover {
    background-color: var(--primary-dark);
  }

  &:active {
    background-color: var(--primary-light);
  }
}

.pin-right {
  right: 0;
}

.pin-left {
  left: 0;
}

.pin-top {
  top: 0;
}

.pin-bottom {
  bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-light);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 25px;

  &:active {
    background: var(--primary);
  }
}