$border-radius: 6px;

$light-grey-0: #cacaca;
$light-grey-1: #a0a0a0;
$light-grey-2: #686868;
$light-grey-3: #4b4b4b;
$dark-grey: #292929;

$light-blue-1: #7171ff;
$light-blue-2: #5151ff;
$blue: #1D1DFF;
$dark-blue: #0000ad;

$light-purple: #8E5FC7;
$purple: #5F1FAD;

$yellow: #fff170;
$dark-yellow: #f1b900;

$background-color: $dark-grey;
$color: white;