.persister-buttons {
  display: flex;
  flex-direction: row;
}

#state-upload {
  // This is important for assistive technology. visibility: hidden
  // and display: none are interpreted as the input being disabled.
  // See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#examples
  opacity: 0;

  // This ensures that users can't click the input that's "hidden" beside the
  // label.
  width: 0;
  height: 0;
}