$padding: 0px 20px 20px;

.date-selection {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 2fr;
  gap: 15px;
  padding: $padding;
  max-width: 40%;

  .month-select {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 5;
    gap: 15px;

    .month {
      height: 30px;
      width: 100%;
      align-self: center;
      justify-self: center;
      background-color: #5050ff;
      border: none;
      color: white;
      border-radius: 5px;
    }
  }

  .year-select {
    height: 30px;
    align-self: center;
    background-color: #5050ff;
    border: none;
    color: white;
    border-radius: 5px;
    padding-left: 5px;

    option {
      background-color: grey;
    }
  }
}

.current-budget-month {
  padding: $padding;

  .date {
    font-weight: bold;
    text-decoration: underline;
  }
}