@use './variables' as vars;

$transition-time: .5s;

.ungrouped-categories {
  display: grid;
  grid-template-columns: repeat(9, 1fr) vars.$category-context-width;

  padding: 15px;
  margin: 1rem 10px 10px 10px;

  border: 1px solid vars.$outline;
  border-radius: vars.$border-radius;
  
  opacity: 100;
  min-height: 100px;

  transition:
    visibility $transition-time ease-in-out,
    opacity $transition-time ease-in-out,
    min-height $transition-time ease-in-out,
    margin $transition-time ease-in-out,
    padding $transition-time ease-in-out,
    border-width $transition-time ease-in-out;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    border-width: 0;
  }

  .category-row, .header {
    display: contents;
  }

  .label {
    position: absolute;
    margin: -1.9rem 0;
    background: vars.$background-light;
    padding: 4px;
    line-height: 1.5rem;
    font-size: 1.3rem;

    color: vars.$primary-dark;
  }
}