.tooltip-btn {
  display: inline-block;
  color: white;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 60px;
  padding: 0.65rem 0.3rem 0.45rem 0.3rem;
  font-size: 1rem;
  line-height: 0;

  transition:
    background-color .3s,
    color .3s;

  &:hover {
    background-color: var(--background-light);
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
  }
}