@use './mixins' as mxn;

.category-transactions {
  position: relative;
  margin: 20px 0;

  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  
  @include mxn.styled-border;
  
  padding: 20px;
  
  .label {
    top: 0;
    @include mxn.border-label;
  }
  
  .headers {
    @include mxn.styled-grid-header;

    .date {
      justify-self: center;
    }
  }

  .row, .totals-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    .date {
      justify-self: center;
    }

    * {
      padding-left: 5px;
    }
    
    &.highlight {
      border: 1px solid var(--secondary-light);
      border-radius: var(--border-radius);
      background-color: var(--secondary-light);
    }
  }
}

.edit-category-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  
  * {
    justify-self: center;
  }
}