@use './variables' as vars;

.nav {
  border-bottom: 2px solid vars.$secondary-dark;
  background-color: vars.$grey;
  padding: 4px 0px;

  position: fixed;
  width: 100%;
  z-index: 1;

  height: vars.$nav-height;
  
  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0 20px;
    }
  }

  .link {
    text-decoration: none;
    color: white;
    
    &.active {
      text-decoration: underline;
    }
  }
}
