@use './variables' as vars;

.category-creator {
  display: flex;
  padding: 5px;
  border: 1px solid black;
}

.category-input {
  border-radius: vars.$border-radius;
  margin: 5px 5px;
  font-size: 1rem;
}

.gap-left {
  margin-left: 30px;
}