@use './variables' as vars;

$dropdown-width: 500px;

.custom-select {
  &.active {
    .select-dropdown {
      visibility: visible;
    }
  }

  .select-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: inherit;
    cursor: pointer;
    
    border-radius: vars.$border-radius;

    width: $dropdown-width;
    max-width: 100%;
    
    padding: 0.5rem 1rem;
  }

  .select-dropdown {
    position: absolute;
    list-style: none;

    visibility: hidden;

    width: $dropdown-width;
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    background-color: vars.$background-light;
    
    @include vars.styled-border;

    padding: 10px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    // transition: 0.5s ease;

    &:focus-within {
      box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
    }

    li {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      align-items: center;

      label {
        width: 100%;
        padding: 8px 10px;
        cursor: pointer;
      }

      &:hover, input:checked ~ label {
        border-radius: vars.$border-radius;
        background-color: cyan;
      }

      input[type="radio"] {
        position: absolute;
        left: 0;
        opacity: 0;

        &:focus ~ label {
          background-color: purple;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: vars.$background-light;
      border-radius: 25px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: vars.$primary-light;
      border-radius: 25px;

      &:active {
        background: vars.$primary;
      }
    }
  }
}