@use './variables' as vars;

$min-width: 100px;
$dropdown-width: 500px;

.custom-select {
  &.active {
    .select-button {
      background-color: vars.$secondary-light;
    }

    .select-dropdown {
      visibility: visible;
    }

    .arrow {
      transform: rotate(180deg);
    }
  }

  .select-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: vars.$primary-light;
    cursor: pointer;
    
    @include vars.styled-border;

    min-width: $min-width;
    max-width: 100%;
    
    padding: 0.5rem 1rem;

    transition: background-color .5s;

    .arrow {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid vars.$primary-dark;
      transition: transform ease-in-out 0.3s;

      width: fit-content;
    }
  }

  .select-dropdown {
    position: absolute;
    list-style: none;

    visibility: hidden;

    min-width: $min-width;
    max-width: $dropdown-width;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    background-color: vars.$background-light;
    
    @include vars.styled-border;

    padding: 10px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto !important;
    z-index: 1;

    &:focus-within {
      box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
    }

    li {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      align-items: center;

      label {
        width: 100%;
        padding: 8px 10px;
        cursor: pointer;
      }

      &:hover, input:checked ~ label {
        border-radius: vars.$border-radius;
        background-color: vars.$primary-light;
        color: white;
      }

      input[type="radio"] {
        position: absolute;
        left: 0;
        opacity: 0;
        cursor: pointer;

        &:focus ~ label {
          border-radius: vars.$border-radius;
          background-color: vars.$primary;
          color: white;
        }
      }
    }

    

    .group-divider {
      margin: .7rem 0;

      .label {
        @include vars.border-label($margin: -.7rem 1rem, $font-size: 1rem);
      }
    }
  }
}