@use './mixins' as mxn;

$min-width: 150px;
$dropdown-width: 500px;

.custom-select {
  &.active {
    .select-button {
      background-color: var(--secondary-light);
    }

    .select-dropdown {
      visibility: visible;
    }

    .arrow {
      transform: rotate(180deg);
    }
  }

  .select-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--primary-light);
    cursor: pointer;
    
    @include mxn.styled-border;

    min-width: $min-width;
    max-width: 100%;
    
    padding: 0.5rem 1rem;

    transition: background-color .5s;

    .arrow {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid var(--primary-dark);
      transition: transform ease-in-out 0.3s;

      width: fit-content;
    }
  }

  .select-dropdown {
    position: absolute;
    list-style: none;

    visibility: hidden;

    min-width: $min-width;
    max-width: $dropdown-width;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--background-light);
    
    @include mxn.styled-border;

    padding: 10px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto !important;
    overflow-x: hidden;
    z-index: 5;

    &:focus-within {
      box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
    }

    li {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      align-items: center;

      label {
        width: 100%;
        padding: 8px 10px;
        cursor: pointer;
      }

      &:hover, input:checked ~ label {
        border-radius: var(--border-radius);
        background-color: var(--primary-light);
        color: white;
      }

      input[type="radio"] {
        position: absolute;
        left: 0;
        opacity: 0;
        cursor: pointer;

        &:focus ~ label {
          border-radius: var(--border-radius);
          background-color: var(--primary);
          color: white;
        }
      }
    }

    .group-divider {
      margin: .7rem 0;

      .label {
        @include mxn.border-label($margin: -.7rem 1rem, $font-size: 1rem);
        width: fit-content;
        max-width: 90%;

        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;

        &[title]:hover::after {
          content: attr(title);
          position: absolute;
          top: -100%;
          left: 0;
        }
      }
    }
  }
}