.date-selection {
  display: flex;

  gap: 8px;
  width: 100%;
  max-width: calc(100% - var(--nav-width));
  padding: 10px 8px;
  
  position: fixed;
  bottom: 0;
  z-index: 2;

  border-top: 1px solid var(--secondary-dark);
  background-color: var(--background-light);

  .month-select {
    display: flex;

    flex: 8;

    @media (max-width: 1200px) {
      overflow: scroll;
    }

    .selected {
      background-color: white;
      outline: 3px solid var(--primary);
      color: var(--primary-dark);
    }

    .selected:hover {
      outline: 3px solid var(--dark-yellow);
      background-color: var(--primary-dark);
      color: white;
    }

    .month {
      width: 100%;
    }

    .month:hover {
      outline: 3px solid var(--dark-yellow);
    }
  }

  .year-select {
    flex: 1;
    padding-left: 5px;

    .year-select-option {
      background-color: grey;
    }
  }
}

.current-budget-month {
  flex: 1;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0 1rem;
  
  line-height: 1.15rem;
  align-self: center;

  /* Ensures that months changing doesn't resize the date selector, which is annoying */
  min-width: 180px;
}

.date {
  font-weight: bold;
  text-decoration: underline;
}