@use './variables' as vars;

.date-selection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr) 2fr 2fr;
  gap: 8px;
  border-top: 1px solid black;
  padding-top: 10px;
  background-color: white;
  position: fixed;
  bottom: 0;

  *:not(.year-select) {
    align-self: center;
    justify-self: center;
  }

  .month-select {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 13;

    .selected {
      background-color: white;
      outline: 3px solid vars.$light-blue-2;
      color: vars.$light-blue-2;

      &:hover {
        outline: 3px solid vars.$dark-yellow;
        background-color: vars.$dark-blue;
        color: white;
      }
    }

    .month {
      width: 100%;
    }
  }

  .year {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 13;
    
    .year-select {
      padding-left: 5px;
  
      option {
        background-color: grey;
      }
    }
  }
}

.date {
  font-weight: bold;
  text-decoration: underline;
}