@use './variables' as vars;

.date-selection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr) 2fr 2fr;
  gap: 8px;
  border-top: 1px solid vars.$secondary-dark;
  padding: 10px 0px 0px 8px;
  background-color: vars.$background-light;
  position: fixed;
  bottom: 0;

  *:not(.year-select) {
    align-self: center;
    justify-self: center;
  }

  .month-select {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 13;

    .selected {
      background-color: white;
      outline: 3px solid vars.$primary;
      color: vars.$primary-dark;

      &:hover {
        outline: 3px solid vars.$dark-yellow;
        background-color: vars.$primary-dark;
        color: white;
      }
    }

    .month {
      width: 100%;
    
      &:hover {
        outline: 3px solid vars.$dark-yellow;
      }
    }
  }

  .year {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 13;
    
    .year-select {
      padding-left: 5px;
  
      option {
        background-color: grey;
      }
    }
  }
}

.date {
  font-weight: bold;
  text-decoration: underline;
}